rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if true;  // 개발 중에는 모든 접근을 허용
    }
  }
} 